{% extends "index.html" %}
{% block content %}

    {% if record.next_record or record.previous_record %}
        <div class="limited_width">
            <div class="buttons_block">
                {% if record.previous_record %}
                    <a href="/preview/{{ directory }}/{{ record.previous_record }}"
                       class="cls_button">Previous</a>
                {% else %}
                    <a class="spacer">&nbsp;</a>
                {% endif %}
                <span class="spacer">&nbsp;</span>
                {% if record.next_record %}
                    <a href="/preview/{{ directory }}/{{ record.next_record }}"
                       class="cls_button">Next</a>
                {% else %}
                    <a class="spacer">&nbsp;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="preview_block">

        <div>
            <a href="/content/{{ record.directory }}/{{ record.path_to_content }}">
                <img src="/content/{{ record.directory }}/{{ record.path_to_preview }}"
                     alt="Click here for full resolution"/>
            </a>
        </div>

        <div>
            <table class="preview_table">
                <tr>
                    <th colspan="2">Information</th>
                </tr>
                <tr>
                    <td>Original filename</td>
                    <td>{{ record.original_filename }}</td>
                </tr>
                <tr>
                    <td>Series</td>
                    <td>{{ record.series }}</td>
                </tr>
                <tr>
                    <td>Sub series</td>
                    <td>{{ record.sub_series }}</td>
                </tr>
                <tr>
                    <td>Ordering</td>
                    <td>{{ record.ordering }}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td class="limited_width">{{ record.comment | replace('\\n','<br>') | safe }}</td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center"><a
                            href="/content/{{ record.directory }}/metainfo/{{ record.uuid }}.json">Raw
                        metadata</a></td>
                </tr>

                <tr>
                    <th colspan="2">Parameters</th>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>{{ record.width }} px</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{ record.height }} px</td>
                </tr>
                <tr>
                    <td>Resolution</td>
                    <td>{{ record.resolution }} Mpx</td>
                </tr>
                <tr>
                    <td>Media type</td>
                    <td>{{ record.media_type }}</td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>{{ byte_count_to_text(record.bytes_in_file) }}</td>
                </tr>

                <tr>
                    <th colspan="2">Tags</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <ol>
                            {% for tag in record.tags %}
                                <li><a href="/index/{{ directory }}/search?q={{ tag }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>

                {% if record.author or record.origin_url %}
                    <tr>
                        <th colspan="2">Origin</th>
                    </tr>
                    <tr>
                        <td>Url</td>
                        <td class="possible_wide"><a
                                href="{{ record.origin_url }}">{{ record.origin_url }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td class="possible_wide">{{ record.author }}</td>
                    </tr>
                    <tr>
                        <td>Profile</td>
                        <td class="possible_wide"><a
                                href="{{ record.author_url }}">{{ record.author_url }}</a>
                        </td>
                    </tr>
                {% endif %}

            </table>
        </div>

    </div>

{% endblock %}
