{% extends "index.html" %}
{% block content %}

    {% if meta.next_record or meta.previous_record %}
        <div class="limited_width">
            <div class="buttons_block">
                {% if meta.previous_record %}
                    <a href="/preview/{{ directory }}/{{ meta.previous_record }}"
                       class="cls_button">Previous</a>
                {% else %}
                    <a class="spacer">&nbsp;</a>
                {% endif %}

                <span class="spacer">&nbsp;</span>

                {% if meta.next_record %}
                    <a href="/preview/{{ directory }}/{{ meta.next_record }}"
                       class="cls_button">Next</a>
                {% else %}
                    <a class="spacer">&nbsp;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="preview_block">

        <div>
            <a href="/content/{{ meta.directory }}/{{ meta.path_to_content }}">
                <img src="/content/{{ meta.directory }}/{{ meta.path_to_preview }}"
                     alt="Click here for full resolution"/>
            </a>
        </div>

        <div>
            <table class="preview_table">
                <tr>
                    <th colspan="2">Information</th>
                </tr>
                <tr>
                    <td>Original filename</td>
                    <td>{{ meta.original_filename }}</td>
                </tr>
                <tr>
                    <td>Series</td>
                    <td>{{ meta.series }}</td>
                </tr>
                <tr>
                    <td>Sub series</td>
                    <td>{{ meta.sub_series }}</td>
                </tr>
                <tr>
                    <td>Ordering</td>
                    <td>{{ meta.ordering }}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td class="limited_width">{{ meta.comment | replace('\\n','<br>') | safe }}</td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center"><a
                            href="/content/{{ meta.directory }}/metainfo/{{ meta.uuid }}.json">Raw
                        metadata</a></td>
                </tr>

                <tr>
                    <th colspan="2">Parameters</th>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>{{ meta.width }} px</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{ meta.height }} px</td>
                </tr>
                <tr>
                    <td>Resolution</td>
                    <td>{{ meta.resolution }} Mpx</td>
                </tr>
                <tr>
                    <td>Media type</td>
                    <td>{{ meta.media_type }}</td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>{{ byte_count_to_text(meta.bytes_in_file) }}</td>
                </tr>

                <tr>
                    <th colspan="2">Tags</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <ol>
                            {% for tag in meta.tags %}
                                <li><a href="/index/{{ directory }}/search?q={{ tag }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>

                {% if meta.author or meta.origin_url %}
                    <tr>
                        <th colspan="2">Origin</th>
                    </tr>
                    <tr>
                        <td>Url</td>
                        <td class="possible_wide"><a
                                href="{{ meta.origin_url }}">{{ meta.origin_url }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td class="possible_wide">{{ meta.author }}</td>
                    </tr>
                    <tr>
                        <td>Profile</td>
                        <td class="possible_wide"><a
                                href="{{ meta.author_url }}">{{ meta.author_url }}</a>
                        </td>
                    </tr>
                {% endif %}

            </table>
        </div>

    </div>

{% endblock %}
