{% extends "index.html" %}
{% block content %}
    <div class="zone">
        <h1>Statistics</h1>
    </div>
    <div class="text_zone">
        {% for label, value in statistics %}
            <span>{{ label }}: {{ value }}</span><br>
        {% endfor %}
    </div>

    <div class="zone">
        <h1>Tags by frequency</h1>
    </div>
    <div class="text_zone">
        <div class="content">
            {% for tag, times in statistics.tags_by_popularity %}
                <a href="/search?q={{ tag }}" class="one_tag">{{ tag }} x {{ times }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="zone">
        <h1>Tags by alphabet</h1>
    </div>
    <div class="text_zone">
        <div class="content">
            {% for letter, tags in statistics.tags_by_alphabet %}
                <ul>
                    <li>{{ letter|upper }}</li>
                    <ul>
                        {% for tag in tags %}
                            <li><a href="/search?q={{ tag }}">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
