{% extends "index.html" %}
{% block content %}

    {#-----------------------------------------------------------------------#}
    <div class="zone">
        <h1>Themes</h1>
    </div>
    {#-----------------------------------------------------------------------#}

    <div class="text_zone">
        <div class="content">
            {% for theme in theme_repository %}
                {% if theme.directory == current_theme.directory %}
                    <a href="/tags/{{ theme.directory }}/"
                       class="one_tag_active">{{ theme.name }}</a>
                {% else %}
                    <a href="/tags/{{ theme.directory }}/"
                       class="one_tag">{{ theme.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {#-----------------------------------------------------------------------#}
    <div class="zone">
        <h1>Statistics for "{{ current_theme.name }}"</h1>
    </div>
    {#-----------------------------------------------------------------------#}

    <div class="text_zone">
        {% for label, value in statistics %}
            <span>{{ label }}: {{ value }}</span><br>
        {% endfor %}
    </div>

    {% if current_theme.tags_on_demand %}
        <div class="zone">
            <h1>Implicit tags for "{{ current_theme.name }}"</h1>
        </div>
        <div class="text_zone">
            <div class="content">
                {% for tag in current_theme.tags_on_demand %}
                    <a href="/index/{{ directory }}/search?q={{ tag }}"
                       class="one_tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {#-----------------------------------------------------------------------#}
    <div class="zone">
        <h1>Tags by frequency</h1>
    </div>
    {#-----------------------------------------------------------------------#}

    <div class="text_zone">
        <div class="content">
            {% for tag, times in statistics.tags_by_popularity %}
                <a href="/index/{{ directory }}/search?q={{ tag }}"
                   class="one_tag">{{ tag }} x {{ times }}</a>
            {% endfor %}
        </div>
    </div>

    {#-----------------------------------------------------------------------#}
    <div class="zone">
        <h1>Tags by alphabet</h1>
    </div>
    {#-----------------------------------------------------------------------#}

    <div class="text_zone">
        <div class="content">
            {% for letter, tags in statistics.tags_by_alphabet %}
                <ul>
                    <li><p>{{ letter|upper }}</p></li>
                    {% for tag in tags %}
                        <li>
                            <a href="/index/{{ directory }}/search?q={{ tag }}">
                                {{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}
