{% extends "index.html" %}
{% block content %}
    <div class="preview_block">

        <div>
            <a href="/{{ metarecord.content_info.url_path('content_path') }}">
                <img src="/{{ metarecord.content_info.url_path('preview_path') }}"
                     alt="preview version of the content"/>
            </a>
        </div>

        <div>
            <table class="preview_table">
                <tr>
                    <th colspan="2">Information</th>
                </tr>
                <tr>
                    <td>Original filename</td>
                    <td>{{ metarecord.file_info.original_filename }}</td>
                </tr>
                <tr>
                    <td>Series</td>
                    <td>{{ metarecord.meta.series }}</td>
                </tr>
                <tr>
                    <td>Sub series</td>
                    <td>{{ metarecord.meta.sub_series }}</td>
                </tr>
                <tr>
                    <td>Ordering</td>
                    <td>{{ metarecord.meta.ordering }}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td class="comment_cell">{{ metarecord.meta.comment }}</td>
                </tr>

                {% if metarecord.meta.next_record %}
                    <tr>
                        <td>Next</td>
                        <td>
                            <a href="/preview/{{ metarecord.meta.next_record }}">{{ metarecord.meta.next_record }}</a>
                        </td>
                    </tr>
                {% endif %}

                {% if metarecord.meta.previous_record %}
                    <tr>
                        <td>Previous</td>
                        <td>
                            <a href="/preview/{{ metarecord.meta.previous_record }}">{{ metarecord.meta.previous_record }}</a>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="2" style="text-align: center"><a
                            href="/root/metainfo/{{ metarecord.uuid }}.json">Raw
                        metadata</a></td>
                </tr>

                <tr>
                    <th colspan="2">Parameters</th>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>{{ metarecord.parameters.width }}</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{ metarecord.parameters.height }}</td>
                </tr>
                <tr>
                    <td>Resolution in MP</td>
                    <td>{{ metarecord.parameters.resolution_mp }}</td>
                </tr>
                <tr>
                    <td>Media type</td>
                    <td>{{ metarecord.parameters.media_type }}</td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>{{ byte_count_to_text(metarecord.parameters.size) }}</td>
                </tr>

                <tr>
                    <th colspan="2">Tags</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <ol>
                            {% for tag in metarecord.tags %}
                                <li><a href="/search?q={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>

                {% if metarecord.origin.author %}
                    <tr>
                        <th colspan="2">Origin</th>
                    </tr>
                    <tr>
                        <td>Url</td>
                        <td>{{ metarecord.origin.url }}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{ metarecord.origin.author }}</td>
                    </tr>
                    <tr>
                        <td>Profile</td>
                        <td>{{ metarecord.origin.profile }}</td>
                    </tr>
                {% endif %}

            </table>
        </div>

    </div>

{% endblock %}
