{% extends "index.html" %}
{% block content %}

    {% if record.next_record or record.previous_record %}
        <div class="limited_width">
            <div class="buttons_block">
                <a href="/preview/{{ record.previous_record }}" class="cls_button">Previous</a>
                <span class="spacer">&nbsp;</span>
                <a href="/preview/{{ record.next_record }}" class="cls_button">Next</a>
            </div>
        </div>
    {% endif %}

    <div class="preview_block">

        <div>
            <a href="/{{ record.path_to_content }}">
                <img src="/{{ record.path_to_preview }}"
                     alt="Click here for full resolution"/>
            </a>
        </div>

        <div>
            <table class="preview_table">
                <tr>
                    <th colspan="2">Information</th>
                </tr>
                <tr>
                    <td>Original filename</td>
                    <td>{{ record.original_filename }}</td>
                </tr>
                <tr>
                    <td>Series</td>
                    <td>{{ record.series }}</td>
                </tr>
                <tr>
                    <td>Sub series</td>
                    <td>{{ record.sub_series }}</td>
                </tr>
                <tr>
                    <td>Ordering</td>
                    <td>{{ record.ordering }}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td class="limited_width">{{ record.comment }}</td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center"><a
                            href="/root/metainfo/{{ record.uuid }}.json">Raw
                        metadata</a></td>
                </tr>

                <tr>
                    <th colspan="2">Parameters</th>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>{{ record.width }} px</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{ record.height }} px</td>
                </tr>
                <tr>
                    <td>Resolution</td>
                    <td>{{ record.resolution }} Mpx</td>
                </tr>
                <tr>
                    <td>Media type</td>
                    <td>{{ record.media_type }}</td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>{{ byte_count_to_text(record.bytes_in_file) }}</td>
                </tr>

                <tr>
                    <th colspan="2">Tags</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <ol>
                            {% for tag in record.tags %}
                                <li><a href="/search?q={{ tag }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>

                {% if record.author %}
                    <tr>
                        <th colspan="2">Origin</th>
                    </tr>
                    <tr>
                        <td>Url</td>
                        <td>{{ record.origin_url }}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{ record.author }}</td>
                    </tr>
                    <tr>
                        <td>Profile</td>
                        <td>{{ record.author_url }}</td>
                    </tr>
                {% endif %}

            </table>
        </div>

    </div>

{% endblock %}
