{% extends "index.html" %}
{% block content %}
    <div class="zone">
        <h1>Tags statistics</h1>
    </div>

    <div class="text_zone">
        <span>Total items in catalogue: {{ stats.total_items }}</span>
        <br>
        <span>Total tags in catalogue: {{ stats.total_tags }}</span>
        <br>
        <span>Total size of the archive: {{ byte_count_to_text(stats.total_size) }}</span>
        <br>
        <span>Oldest item: {{ stats.max_date }}</span>
        <br>
        <span>Newest item: {{ stats.min_date }}</span>
        <br>
        <div class="content">
            <ol>
                {% for tag, times in tags %}
                    <li><a href="/search?q={{ tag }}">{{ tag }}
                        x {{ times }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
