<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/static/styles.css" rel="stylesheet">
    <script src="/static/scripts.js"></script>
    <title>{{ title }}</title>
</head>
<body>

<div class="flex_vertical">
    <span>Total records in catalogue: {{ total }}</span>
    <form method="post" action="/">
        <div class="header_query">
            <div><a href="/"><img class="icon" src="/static/home-24px.svg"
                                  alt="Redirect to the starting page"/></a>
            </div>
            <label for="query">What to search<input id="query" name="query"
                                                    type="search"
                                                    value="{{ query }}"></label>
            <input type="submit" class="btn active" value="Search"/>
        </div>
    </form>
    <span>Records found: {{ found }}</span>
</div>

<hr>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>