:root {
    --my_color: #5b85a2;
    --my_color_active: #77a2b5;
    --my_color_pale: #3a4b56;
    --my_color_bright: #e59880;
    --my_color_shiny: #ffffff;
    --my_color_dark: #253139;
    --min_width: 800px;
    --max_width: 1500px;
}

html, body {
    background-color: #171819;
    height: 100%;
    font-size: 16pt;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: var(--my_color);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(117, 116, 116, 0.75), rgba(0, 0, 0, 0));
}

.content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.envelope, .btn {
    overflow: hidden;
    box-shadow: 0 0 6px -1px rgb(31 31 31);
    border: 1px solid #272727;
    background-color: #1b1c1d;
}

.envelope {
    display: flex;
    align-items: center;
    margin: 3px;
}

.pages {
    width: 100%;
    max-width: var(--max_width);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.pages a {
    color: var(--my_color);
    background-color: var(--my_color_pale);
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
}

.current_page {
    background-color: var(--my_color_shiny) !important;
}

.inactive_page {
    background-color: var(--my_color_dark) !important;
}

.small {
    font-size: 12pt;
}

.preview_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.preview_block div {
    margin: 20px;
}

.preview_table {
    border-collapse: collapse;
}

.preview_table, td, th {
    border: 1px solid var(--my_color_pale);
}

td, th {
    padding: 5px;
    min-width: 250px;
}

th {
    background-color: var(--my_color_dark);
}

.query_container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.query_input {
    width: 100%;
}

input, .cls_button {
    font-size: 16pt;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    color: var(--my_color_active);
    border: 1px solid var(--my_color_dark);
}

input {
    color: black;
}

.cls_button {
    text-align: center;
    background-color: var(--my_color_pale);
}

a:link {
  color: var(--my_color_active);
}

a:visited {
  color: var(--my_color_active);
}

a:hover, .cls_button:hover {
  color: var(--my_color_shiny);
}

a:active {
  color: var(--my_color_shiny);
}
